<ul class="team">
  <li class="team-member">
    <a href="" target="_blank">
      <figure>
        <img alt="Dylan Barnard" src="http://layr-team.github.io/layr-project">
      </figure>
      <strong>Dylan Barnard</strong>
      <br>
      Software Engineer (SF Bay)
    </a>
  </li>
  <li class="team-member">
    <a href="https://floalex.github.io/" target="_blank">
      <figure>
        <img alt="Florence Liang" src="http://layr-team.github.io/layr-project/img/flo.jpeg">
      </figure>
      <strong>Florence Liang</strong>
      <br>
      Software Engineer (SF Bay)
    </a>
  </li>
  <li class="team-member">
    <a href="http://tannrallard.tech/" target="_blank">
      <figure>
        <img alt="Tannr Allard" src="https://layr-team.github.io/layr-project/img/tannr.png">
      </figure>
      <strong>Tannr Allard</strong>
      <br>
      Software Engineer (NYC)
    </a>
  </li>
</ul>
